.restart-button {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: 0;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
    background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}

.restart-button:hover {
    background: linear-gradient(to bottom right, #0c636e, #5977c9);
}

h1 {
    font-family: lato, sans-serif;
    font-weight: 300;
    letter-spacing: -7px;
    font-size: 48px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.grid-column {
    background: #acacac;
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
}

.grid-column.selected-index {
    background: green;
}

.bg-text {
    box-shadow: 5px 4px 8px #000;
    background-color: rgba(0, 0, 0, .4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .bg-text {
        box-shadow: 6px 7px 12px #000;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-54%, -63%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }
    .grid-column {
        background: #acacac;
        display: inline-block;
        margin: 5px;
        height: 33px;
        width: 33px;
    }
    h5 {
        font-size: 0.75rem;
    }
    h1{
        font-family: lato, sans-serif;
        font-weight: 300;
        letter-spacing: -3px;
        font-size: 18px;
    }
    .restart-button {
        color: #fff;
        width: 74px;
        height: 28px;
        outline: 0;
        font-size: 12px;
        border: none;
        display: block;
        cursor: pointer;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        border-radius: 70px;
        box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
        background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
    }
    .restart-button:hover {
        background: linear-gradient(to bottom right, #0c636e, #5977c9);
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    display: block;
    position: relative;
    cursor: pointer;
}

.menu-title {
    display: block;
    padding: 12px 20px 11px;
    font-size: 20px;
    background: #0c7e79;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s background-color;
    box-shadow: 6px 7px 12px #000;
}

.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #748f46;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #dddddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}

.menu-title:hover {
    background: #8db842;
    box-shadow: 6px 7px 12px rgb(138, 10, 177);
}

.menu-title:hover:before {
    border-top-color: #8db842;
}

.menu:hover>.menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover>.menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
    background: #4e96b3;
}

.menu-title_2nd:hover {
    background: #3e86a3;
}

.menu-title_2nd:before {
    border-top-color: #4e96b3;
}

.menu-title_2nd:hover:before {
    border-top-color: #3e86a3;
}

.menu-title_3rd {
    background: #c97676;
}

.menu-title_3rd:hover {
    background: #b96666;
}

.menu-title_3rd:before {
    border-top-color: #c97676;
}

.menu-title_3rd:hover:before {
    border-top-color: #b96666;
}

.menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu:not(:hover)>.menu-dropdown {
    padding: 4px 0;
    background: #dddddd;
    z-index: 99;
}

.menu:not(:hover)>.menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover)>.menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown>* {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}

.menu-dropdown>*:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover)>.menu-dropdown>* {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}

.hList>* {
    float: left;
}